body {
    margin: 0;
}

.centered {
    text-align: center;
}

.main-container {
    display: flex;
    background-color: aliceblue;
}

.child-container {
    flex: 1;
    border: 1px solid lightgray;
    padding: 1%;
    font-family: 'Roboto';
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.open-button {
    position: absolute;
    left: 0;
    bottom: 0;
}

.form {
    height: 100%;
    margin-top: 25px;
    margin-left: 15px;
}

.hidden {
    display: none;
    background-color: transparent;
    border-width: 0;
    border-style: none;
}

.form-submit-button {
    text-align: right; 
    bottom: 0;
}